<html>
<head>
    <title>DjangoGirls Fab Introductory Course</title>
</head>
<body>
  <div>
    <h1>Good morning!</h1>
    <p>Well done, it works.</p>
    <p>Time to make it a little more interesting ;)</p>
  </div>
  <div>
    <h2>Linkie linkie</h2>
    <ul>
      <li><a href="http://www.parkrun.co.za/" target="_blank">parkrun</a>, always with a lower case p, is a favourite activity</li>
      <li><a href="http://mensa.org.za" target="_blank">Mensa</a> is a social club for smarties</li>
      <li>Am I home often enough to adopt a <a href="https://www.facebook.com/pg/greatdanesa/posts/?ref=page_internal" target="_blank">Great Dane</a>?</li>
    </ul>
  </div>
</body>
</html>
